$black-navigator-bg-color: rgba(45,45,45,0.98);
$text_main: #333;
$text_sub: #888;
$blue: #3475C6;
$background-grey: #EAE9E9;
$background-grey-light: #F8F8F8;
$blue-gradient: linear-gradient(180deg, #5D9EE5 0%, #3475C6 100%);

$light-border: 1px solid #d6d6d6;

$border-radius: 4px;
$font-bold: 600;

$navigator-z-index: 1;
