@import './reset.scss';
@import './base.scss';

.mobile {
  display: none;
}

.banner{
  width: 100%;
  vertical-align: center;
  position: relative;
  img{vertical-align: top;}
  .text-wrapper{
    position: absolute;
    top: 0;bottom: 0;
    left: 0;right: 0;
    background: rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    .iconfont{
      margin-top: 20px;
      font-size: 40px;
    }
  }
}

h2,h3,h4{
  &.pc{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &.mobile{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.swiper-container{
  &.pc{
    .image-wrapper{
      max-width: 1000px;
      height: 450px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      .name{
        font-size: 42px;
        color: #FFF;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover{
          opacity: 0.5;
        }
        .iconfont{
          margin-left: 10px;
        }
      }
    }
    .iconfont{
      color: #fff;
      font-size: 34px;
      line-height: 44px;
    }
    .swiper-slide{
      width: 1000px;
      border-radius: 8px;
      overflow: hidden;
    }
    .swiper-slide-prev:after,.swiper-slide-next:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .swiper-slide-prev:after{
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    .swiper-slide-next:after{
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%);
    }
  }
  .swiper-button-disabled{
    display: none;
  }
  .swiper-button-prev,.swiper-button-next {
    background-image: none;
  }
}

.partners{
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .partner{
    width: 220px;
    margin: 0 20px 40px 20px;
    >div.avatar{
      width: 220px;
      height: 220px;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .name,.position{
      margin: 10px 0;
      font-size: 16px;
    }
    .name{color: #3475C6;}
    .description{color: #333333;font-size: 14px;}
  }
}

.activities{
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .activity{
    width: calc(50% - 40px);
    margin: 0 20px 40px 20px;
    .img-wrapper{
      position: relative;
      .button-wrapper{
        position: absolute;
        top: 0;bottom: 0;
        left: 0;right: 0;
        display: none;
        .iconfont{
          font-size: 40px;
        }
      }
      &:hover .button-wrapper{
        display: flex!important;
        background: rgba(0,0,0,.3);
        cursor: pointer;
        align-items: center;
        justify-content: center;
        color: #FFF;
      }
    }
    img{width: 100%;vertical-align: top;}
    .name{font-size: 20px;margin-top: 10px}
    .content,.introduction{color: #888888;font-size: 14px;margin-top: 10px; line-height: 170%;}
  }
}

section.pictures-wrapper {
  max-width: 1000px;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 499px) {
    margin-top: 5vh;
  }
}

@media (max-width: 499px) {
  .pc {
    display: none!important;
  }
  .mobile {
    display: block;
  }
  .partners .partner{
    width: 100%;
    margin: 0 10px 20px 10px;
    >img{
      width: 100%;
    }
  }
  .activities .activity{
    width: 100%;
    margin: 0 10px 20px 10px;
    img{width: 100%;}
  }
}

