@import url("https://at.alicdn.com/t/font_1376020_80zljjg7j05.css");

h1 {
  font-size: 64px;
  line-height: 120%;
}

h2 {
  font-size: 42px;
  line-height: 112.5%;
  letter-spacing: 0.03em;
}

h3 {
  font-size: 36px;
  line-height: 112.5%;
  letter-spacing: 0.03em;
}

h4 {
  font-size: 28px;
  line-height: 112.5%;
}

h5 {
  font-size: 20px;
  line-height: 112.5%;
}

h6 {
  font-size: 16px;
}

h1,h2,h3,h4,h5 {
  font-weight: 600;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 180%;
}

.md-wrapper{
  *{line-height: 25px;}
  color: #333;
  a{color: #3475C6;}
  h4{
    color: #111;
    font-size: 20px;
    margin: 24px 0;
  }
  img{
    width: 100%;
    margin: 20px 0;
  }
  blockquote {
    padding: 0 1em;
    color: #6A737D;
    border-left: .25em solid #DFE2E5;
  }
  ul,ol{
    margin: 0 0 20px 20px;
  }
  ul>li{
    list-style: circle;
  }
  ol>li{
    list-style: decimal;
  }
  table{
    border-collapse: collapse;
    border: 1px solid #D6D6D6;
    margin: 24px 0;
    width: 100%;
    th,td{padding: 0 30px}
    th{color: #333;text-align: center;padding: 10px 30px}
    td{color: #666;line-height:2}
    thead{
      background: #EEEEEE;
      text-align: left;
      border: none;
    }
  }
}
@media (max-width: 499px) {
  h1 {
    font-size: 32px;
    line-height: 150%;
  }
  h2 {
    font-size: 28px;
    line-height: 112.5%;
  }
  h3 {
    font-size: 24px;
    line-height: 112.5%;
  }
  h4 {
    font-size: 20px;
    line-height: 150%;
  }
  h5 {
    font-size: 16px;
    line-height: 165.5%;
  }
  p {
    font-size: 14px;
    line-height: 180%;
  }
  .md-wrapper{
    *{line-height: 25px;}
    color: #333;
    h4{
      color: #111;
      font-size: 20px;
      margin: 24px 0;
    }
    img{
      width: 100%;
      margin: 10px 0;
    }
    blockquote {
      padding: 0 1em;
      color: #6A737D;
      border-left: .25em solid #DFE2E5;
    }
    ul,ol{
      margin: 0 0 20px 20px;
    }
    ul>li{
      list-style: circle;
    }
    ol>li{
      list-style: decimal;
    }
    table{
      border-collapse: collapse;
      border: 1px solid #D6D6D6;
      margin: 12px 0;
      width: 100%;
      font-size: 12px;
      text-align: center;
      th,td{padding: 2px 2px}
      th{color: #333;padding: 2px 2px}
      td{color: #666;line-height:1.5}
      thead{
        background: #EEEEEE;
        border: none;
      }
    }
  }
}

.section-margin {
  padding: 20vh 0 10vh;
  overflow: hidden;
  position: relative;
  & + & {
    padding-top: 10vh;
  }
}

.title-margin {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 + p {
    margin-top: 20px;
  }
  p {
    max-width: 30em;
    word-break: break-word;
    text-align: center;
  }
  padding-bottom: 10vh;
}

@media (max-width: 499px) {
  .section-margin {
    padding: 10vh 20px 5vh;
  }
  .title-margin {
    display: block;
    p {text-align: left;}
    padding-bottom: 30px;
  }
}

.show-modal {
  overflow: hidden;
  height: 100vh;
}