@import url("https://at.alicdn.com/t/font_1376020_9zcnbd74949.css");
h1 {
  font-size: 72px;
  line-height: 120%;
}

h2 {
  font-size: 42px;
  line-height: 112.5%;
  letter-spacing: 0.03em;
}

h3 {
  font-size: 36px;
  line-height: 112.5%;
  letter-spacing: 0.03em;
}

h4 {
  font-size: 28px;
  line-height: 112.5%;
}

h5 {
  font-size: 20px;
  line-height: 112.5%;
}

h1,h2,h3,h4,h5 {
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 180%;
}