@import './reset.scss';
@import './base.scss';
@import './navigator.scss';
@import 'vars';

section.wrapper {
    max-width: 800px;
    margin: 50px auto;

    h2 {
        font-size: 42px;
        text-align: center;
        margin: 80px 0 50px 0;
    }
    .md-wrapper h4 {
        text-align: start;
    }
}

.mobile {
    display: none;
}

@media (max-width: 499px) {
    section.wrapper {
        max-width: 800px;
        margin: 10vh 10px 5vh;
    }
    .pc {
        display: none !important;
    }
    .mobile {
        display: block;
    }
}