@import url('./reset.scss');
@import "./base.scss";
@import url('./navigator.scss');

.swiper-container{
  &.pc{
    .image-wrapper{
      max-width: 1000px;
      height: 450px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      .name{
        font-size: 66px;
        color: #FFF;
        //text-shadow: 0 0 4px #000; 大展说不加
      }
    }
    .iconfont{
      color: #fff;
      font-size: 34px;
      line-height: 44px;
    }
    .swiper-slide{
      width: 1000px;
      border-radius: 8px;
      overflow: hidden;
    }
    .swiper-slide-prev:after,.swiper-slide-next:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .swiper-slide-prev:after{
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    .swiper-slide-next:after{
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%);
    }
  }
  &.mobile{
    .image-wrapper{
      max-width: 1000px;
      height: 450px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      .name{
        font-size: 24px;
        color: #FFF;
        //text-shadow: 0 0 4px #000; 大展说不加
      }
    }
    .iconfont{
      color: #fff;
      font-size: 20px;
      line-height: 44px;
    }
    .cover{
      position: absolute;
      top: 0;bottom:0;left:0;right: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 57.81%, rgba(255, 255, 255, 0.6) 80.21%, #FFFFFF 100%)
    }
  }
  .swiper-button-disabled{
    display: none;
  }
  .swiper-button-prev,.swiper-button-next {
    background-image: none;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to
  /* .component-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

section.container{
  max-width: 800px;
  margin: 0 auto;
  h2{
    font-size: 42px;
    text-align: center;
    margin: 80px 0 50px 0;
  }
}

.mobile {
  display: none;
}

@media (max-width: 499px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  section.container{
    padding: 10px;
    margin-top: -30px;
    h2{
      font-size: 28px;
      text-align: center;
      margin: 40px 0;
    }
    .md-wrapper{
      *{line-height: 25px;}
      color: #333;
      h4{
        color: #111;
        font-size: 20px;
        margin: 24px 0;
      }
      img{
        width: 100%;
        margin: 10px 0;
      }
      blockquote {
        padding: 0 1em;
        color: #6A737D;
        border-left: .25em solid #DFE2E5;
      }
      ul,ol{
        margin: 0 0 20px 20px;
      }
      ul>li{
        list-style: circle;
      }
      ol>li{
        list-style: decimal;
      }
      table{
        border-collapse: collapse;
        border: 1px solid #D6D6D6;
        margin: 12px 0;
        width: 100%;
        font-size: 12px;
        text-align: center;
        th,td{padding: 2px 2px}
        th{color: #333;padding: 2px 2px}
        td{color: #666;line-height:1.5}
        thead{
          background: #EEEEEE;
          border: none;
        }
      }
    }
  }
}