@import 'vars';
footer {
  background-color: #EAE9E9;
}
footer> .content {
  padding-top: 36px;
  margin: 0 auto;
  max-width: 980px;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  .col-wrapper {
    display: flex;
    flex: 1;
    .col {
      display: flex;
      flex-direction: column;
      flex: 1;
      ul {margin-right: 20px;}
      li, h5 {font-size: 12px; margin-bottom: 0.8em}
      li:last-child {margin-bottom: 0}
      h5 {font-weight: $font-bold;}
      .block + .block {
        margin-top: 24px;
      }
      &:first-of-type {
        flex: 1.5;
      }
      a:hover {
        text-decoration: underline;
      }
      li > a {
        color: #555;
      }
    }
  }
  .tip-wrapper {
    font-size: 12px;
    padding: 34px 0;
    .contact {
      position: relative;
      padding-bottom: 7px;
      margin-bottom: 8px;
      span {
        color: $blue;
        cursor: pointer;
      }
      border-bottom: $light-border;
    }
    .copyright, .contact {
      color: $text_sub;
    }
    .copyright {
      >a:first-child {margin-left: 20px;}
      >a {
        padding-right: 10px;
        border-right: $light-border;
        margin-right: 10px;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      >a:last-child {border: none;}
    }
    div.icon-wrapper {
      position: absolute;
      right: 0;
      bottom: 20px;
      div.v-popover {
        display: inline;
      }
      i.iconfont {
        font-size: 36px;
        color: #888888;
      }
    }
  }
  .v-popover.wechat {
    display: inline-block;
  }
}
.footer-icon-popover {
  p {font-size: 13px; color: $v-popover-white;text-align: center; margin-top: 8px;}
  li {text-align: center;}
  .contact-button {
    span {
      cursor: pointer;
      padding: 4px 12px;
      border-radius: 4px;
      border: 1px solid $v-popover-white;
      &:hover {
        color: rgba($color: $v-popover-white, $alpha: 0.8); 
        border: 1px solid rgba($color: $v-popover-white, $alpha: 0.8);
      }
    }
    margin-top: 8px;
  }
}

@media (max-width: 499px) {
  footer > .content > section.tip-wrapper {
    padding: 20px 20px;
    line-height: 180%;
    .contact {border-bottom: none;}
    .copyright {
      a {display: inline-block; padding-right: 6px; margin-right: 5px;}
    }
    div.icon-wrapper {
      position: relative;
      bottom: 0;
      margin-top: 12px;
    }
  }
  .slide-fade-enter-active {
    transition: all .5s ease;
  }
  .slide-fade-enter {
    transform: translateY(-10px);
    opacity: 0;
  }
  .col-wrapper-mobile {
    margin: 0 20px;
    border-top: 1px solid #d6d6d6;
    .col {
      h6, li {font-size: 12px;}
      padding: 10px 0;
      border-bottom: 1px solid #d6d6d6;
      h6::after {
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: -2px;
        margin-right: 8px;
        transition: transform .3s ease;
      }
      h6.active::after {
        transform: rotate(45deg);
      }
      ul {
        padding-top: 20px;
        padding-bottom: 10px;
        li {text-indent: 1em; color: $text_main;}
        li + li {
          margin-top: 10px;
        }
      }
    }
  }
  .tooltip-inner {
    max-width: 80vw !important;
  }
}