@import './reset.scss';
@import './base.scss';
@import './navigator.scss';
@import './footer.scss';

.mobile {
  display: none;
}

@media (max-width: 499px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block;
  }

  div.publicity-title-wrapper {
    h1 {font-size: 48px;}
    text-align: left;
    padding: 10vh 30px;
  }
}

.publicity-title-wrapper {
  text-align: center;
  padding: 64px;
}