@import 'vars';
@import './base.scss';
header {
  .content {
    margin: 0 auto;
    max-width: 980px;
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
  }
  .iconfont {
    color: white;
  }
  .hcsp-icon-white {
    margin-right: 2em;
  }
  .black-navigator {
    min-height: 48px;
    padding: 0 22px;
    background-color: $black-navigator-bg-color;
    display: flex;
    align-items: center;
    .content {
      > a {
        max-width: 8em;
        flex: 1;
        text-align: center;
        span {
          font-size: 14px;
          color: #fff;
          &.active {
            color: #A5A5A5;
          }
        }
      }
    }
  }
  .white-navigator {
    padding: 0 22px;
    .content {
      padding: 20px 0 16px 0;
      justify-content: space-between;
      .items {
        a {
          font-size: 12px;
          min-width: 4em;
          margin: 0 16px;
        }
      }
    }
    .content::after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      width: 100%;
      background-color: $background-grey;
      height: 1px;
      z-index: 1;
    }
  }
  .navigator.mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $navigator-z-index;
    .icon-wrapper {
      position: relative;
      background-color: $black-navigator-bg-color;
      padding: 12px;
      .hcsp-zhankai {
        position: relative;
        z-index: $navigator-z-index
      }
      .iconfont {
        font-size: 16px;
      }
      .logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .hcsp-icon-white {margin-right: 0}
        > i {font-size: 20px;}
      }
      z-index: $navigator-z-index;
      &.black {background-color: black;}
    }
    .black-modal {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      z-index: $mask-z-index;
      .items-wrapper {
        padding: 45px 40px 8px;
        color: white;
        li {
          padding: 10px 0;
          border-bottom: 1px solid #282828;
          > ul {
            color: #A5A5A5;
            display: block;
            margin-left: 1em;
          }
        }
        li:last-child, li.active {border: none;}
        li.active {
          color: #A5A5A5;
          margin-bottom: 0;
        }
      }
    }
    .menu-enter-active, .menu-leave-active {
      transition: opacity .5s;
    }
    .menu-enter, .menu-leave-to{
      opacity: 0;
    }
    .submenu-enter-active {
      transition: opacity .5s;
    }
    .submenu-enter {
      opacity: 0;
    }
    .submenu-leave-active {
      overflow: hidden;
      height: 5em;
      transition: height .3s ease-out;
    }
    .submenu-leave-to {
      height: 0;
    }
  }
}